.hero-header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
}
.nav {
  @extend %align-between;
  align-items: baseline;
}
.logo {
  font-size: 1.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.menu-list {
  width: 620px;
  @extend %align-between;

  &__link {
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    transition: all 0.2s linear;

    &::after {
      content: '';
      display: block;
      background-color: #fce38a;
      @include size(auto, 3px);
      margin: auto;
      margin-top: 12px;
      opacity: 0;
      visibility: hidden;

      transition: all 0.2s linear;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__icon {
    fill: rgb(255, 255, 255);
    width: 18px;

    &_cart {
      height: 15px;
    }

    &_glass {
      height: 18px;
    }
  }

  &__item {
    :hover {
      .menu-list__link {
        color: #fce38a;
      }
      .menu-list__icon {
        fill: #fce38a;
      }
    }
  }
}
