.team {
  padding-bottom: 81px;

  &-description {
    @include font(0.9375rem, normal, 1.6);
    font-family: $secondary-font;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 95px;
  }

  &__list {
    @extend %align-between;

    &-item {
      width: 380px;
      text-align: center;

      &:hover {
        .overlay {
          opacity: 1;
          visibility: visible;
          box-shadow: rgb(149, 225, 211) 10px 10px;
        }
        .team__list-img-wrapper {
          transform: translate(-10px, -10px);
        }
      }
    }

    &-titel {
      font-size: 0.875rem;
      text-transform: uppercase;
      margin-bottom: 19px;
    }

    &-description {
      @include font(0.9375rem, italic, 1.6);
      font-family: $secondary-font;
      color: $secondary-color;
    }

    &-img-wrapper {
      position: relative;
      margin-bottom: 30px;

      transition: all 0.2s linear;
    }
  }
}

.overlay {
  @include size(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  transition: all 0.2s linear;

  &-list {
    display: flex;

    &__item {
      &:not(:last-child) {
        margin-right: 1px;
      }

      &-link {
        @include size(56px, 56px);
        display: flex;
        align-items: center;
        background-color: rgb(252, 227, 138);
        cursor: pointer;

        transition: all 0.2s linear;

        &-svg {
          @include size(32px, 32px);
          fill: rgb(243, 129, 129);
          margin: 0 auto;
        }

        &:hover {
          background-color: rgb(243, 129, 129);

          .overlay-list__item-link-svg {
            fill: #fff;

            animation: pulsate-fwd 0.5s ease-in-out infinite both;
          }
        }
      }
    }
  }
}
